{% load i18n %}
{% load account_tags %}

<ul class="nav navbar-nav pull-right" >
    {% if request.user.is_authenticated %}
        <li> <a href="{% url 'task1' %}"><button class="btn btn-success">Symmetry</button></a> </li>
        <li> <a class="navbar-item" href="{% url 'scoreboard' %}"><i class="fa fa-trophy"> Scoreboard</i></a> </li>
        <li> <a href="{% url 'packmol' %}"><button class="btn btn-info">Packmol</button></a> </li>
        <li> <a class="navbar-item" href="{% url 'packmol_scoreboard' %}"><i class="fa fa-trophy"> Packmol scoreboard</i></a> </li>
        <p class="navbar-text">
            <i class="fa fa-user"></i> {% user_display request.user %}
        </p>
        <li>
            <a id="account_logout" href="{% url 'account_logout' %}"><i class="fa fa-power-off"></i> {% trans "Log out" %}</a>
        </li>
    {% else %}
        <li><a href="{% url 'account_login' %}">{% trans "Log in" %}</a></li>
        {% if ACCOUNT_OPEN_SIGNUP %}
            <li><a href="{% url 'account_signup' %}">{% trans "Sign up" %}</a></li>
        {% endif %}
    {% endif %}
</ul>

<form id="accountLogOutForm" style="display: none;" action="{% url 'account_logout' %}" method="POST">
    {% csrf_token %}
</form>
