<div class="container">
    <div class="footer" style="margin:auto;width:80%;">
        <a href="https://www.ccdc.cam.ac.uk/">
            <img style="height:100px;margin:auto;" src="/static/CCDClogo.jpeg" alt="">
        </a>
        <p>This web site is made possible by generous funding through <a href="https://www.ccdc.cam.ac.uk/community/ccdc-for-the-community/awards-and-sponsorship/ccdc-engagement-grants/">CCDC Engagements Grants</a> for the year 2023.</p> 
        <p style="margin:auto;">Please use this e-mail address for correspondence: <a href="mailto:info@guessymmetry.xyz">info@guessymmetry.xyz</a></p>
    </div>
</div>
