{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}Guessymmetry home{% endblock %}

{% block body_base %}
    <section class="jumbotron" style='background-image: url("/static/logo.png"); background-size:60%;'>
        <div class="container">
            {% include "_messages.html" %}
            <h1 style="color:#3d3;">Guess the Symmetry of molecules!</h1>
            <p>Play and learn about symmetry</p>
            {% if not user.is_authenticated %}
            {% url "account_login" as login_url %}
            <p>You can <a href="{{ login_url }}" class="btn btn-default">Log In</a> to try out the site.</p>
            {% endif %}
        </div>
    </section>
    <section>
        <div class="container">
                <div class="row">
                    <div class="col-md-12">
                    <div class="intro">
                    <h3>Welcome to Guessymmetry page! <br>This is the site where you can play around with symmetry by designing beautiful 2D patterns, try to pack molecules or even predict how the real molecules pack in crystals. Try it out!</h3>
                    </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <h1>Learn about symmetry</h1>
                        <img src="/static/bg1.png" style="width:100%;" alt="">
                        <p>First you will learn about what kinds of symmetries are even possible in two dimensions. You will be able to draw fascianting 2D atterns.                        </p>
                        <p style="margin:10px;">
                             <a href="{% url 'task1' %}"><button class="btn btn-success btn-lg">Explore!</button></a>
                        </p>
                    </div>
                    <div class="col-md-4">
                        <h1>2D molecules packing</h1>
                        <img src="/static/bg5.png" style="width:100%;" alt="">
                         <p style="margin:10px;">
                             <a href="{% url 'packmol' %}"><button class="btn btn-info btn-lg">Pack!</button></a>
                         </p>
                    </div>
                    <div class="col-md-4">
                        <h1>Guess the symmetry of molecules from the Cambridge Structural Database</h1>
                        <img src="/static/csdmol.png" style="width:100%;" alt="">
                         <p style="margin:10px;">
                             <a href="{% url 'csdmol' %}"><button class="btn btn-success btn-lg">Guess!</button></a>
                         </p>
                    </div>
                </div>
        </div>
    </section>
{% endblock %}
