/* Taken and adapted from https://jmol.sourceforge.net/jscolors/#Jmolcolors */
/*.sym { opacity: 0.8; }*/
.atomH {fill: #FFFFFF;}
.atomHe {fill: #D9FFFF;}
.atomLi {fill: #CC80FF;}
.atomBe {fill: #C2FF00;}
.atomB  {fill: #FFB5B5;}
.atomC  {fill: #909090;}
.atomN {fill: #3050F8;}
.atomO {fill: #FF0D0D;}
.atomF  {fill: #90E050;}
.atomNe {fill: #B3E3F5;}
.atomNa {fill: #AB5CF2;}
.atomMg {fill: #8AFF00;}
.atomAl {fill: #BFA6A6;}
.atomSi {fill: #F0C8A0;}
.atomP {fill: #FF8000;}
.atomS {fill: #FFC832;}
.atomCl {fill: #1FF01F;}
.atomAr {fill: #80D1E3;}
.atomK  {fill: #8F40D4;}
.atomCa {fill: #3DFF00;}
.atomSc {fill: #E6E6E6;}
.atomTi {fill: #BFC2C7;}
.atomV  {fill: #A6A6AB;}
.atomCr {fill: #8A99C7;}
.atomMn {fill: #9C7AC7;}
.atomFe {fill: #E06633;}
.atomCo {fill: #F090A0;}
.atomNi {fill: #50D050;}
.atomCu {fill: #C88033;}
.atomZn {fill: #7D80B0;}
.atomGa {fill: #C28F8F;}
.atomGe {fill: #668F8F;}
.atomAs {fill: #BD80E3;}
.atomSe {fill: #FFA100;}
.atomBr {fill: #A62929;}
.atomKr {fill: #5CB8D1;}
.atomRb {fill: #702EB0;}
.atomSr {fill: #00FF00;}
.atomY  {fill: #94FFFF;}
.atomZr {fill: #94E0E0;}
.atomNb {fill: #73C2C9;}
.atomMo {fill: #54B5B5;}
.atomTc {fill: #3B9E9E;}
.atomRu {fill: #248F8F;}
.atomRh {fill: #0A7D8C;}
.atomPd {fill: #006985;}
.atomAg {fill: #C0C0C0;}
.atomCd {fill: #FFD98F;}
.atomIn {fill: #A67573;}
.atomSn {fill: #668080;}
.atomSb {fill: #9E63B5;}
.atomTe {fill: #D47A00;}
.atomI  {fill: #940094;}
.atomXe {fill: #429EB0;}
.atomCs {fill: #57178F;}
.atomBa {fill: #00C900;}
.atomLa {fill: #70D4FF;}
.atomCe {fill: #FFFFC7;}
.atomPr {fill: #D9FFC7;}
.atomNd {fill: #C7FFC7;}
.atomPm {fill: #A3FFC7;}
.atomSm {fill: #8FFFC7;}
.atomEu {fill: #61FFC7;}
.atomGd {fill: #45FFC7;}
.atomTb {fill: #30FFC7;}
.atomDy {fill: #1FFFC7;}
.atomHo {fill: #00FF9C;}
.atomEr {fill: #00E675;}
.atomTm {fill: #00D452;}
.atomYb {fill: #00BF38;}
.atomLu {fill: #00AB24;}
.atomHf {fill: #4DC2FF;}
.atomTa {fill: #4DA6FF;}
.atomW  {fill: #2194D6;}
.atomRe {fill: #267DAB;}
.atomOs {fill: #266696;}
.atomIr {fill: #175487;}
.atomPt {fill: #D0D0E0;}
.atomAu {fill: #FFD123;}
.atomHg {fill: #B8B8D0;}
.atomTl {fill: #A6544D;}
.atomPb {fill: #575961;}
.atomBi {fill: #9E4FB5;}
.atomPo {fill: #AB5C00;}
.atomAt {fill: #754F45;}
.atomRn {fill: #428296;}
.atomFr {fill: #420066;}
.atomRa {fill: #007D00;}
.atomAc {fill: #70ABFA;}
.atomTh {fill: #00BAFF;}
.atomPa {fill: #00A1FF;}
.atomU  {fill: #008FFF;}
.atomNp {fill: #0080FF;}
.atomPu {fill: #006BFF;}
.atomAm {fill: #545CF2;}
.atomCm {fill: #785CE3;}
.atomBk {fill: #8A4FE3;}
.atomCf {fill: #A136D4;}
.atomEs {fill: #B31FD4;}
.atomFm {fill: #B31FBA;}
.atomMd {fill: #B30DA6;}
.atomNo {fill: #BD0D87;}
.atomLr {fill: #C70066;}
.atomRf {fill: #CC0059;}
.atomDb {fill: #D1004F;}
.atomSg {fill: #D90045;}
.atomBh {fill: #E00038;}
.atomHs {fill: #E6002E;}
.atomMt {fill: #EB0026;}
