/* Fill colors (fill) adapted from https://jmol.sourceforge.net/jscolors/#Jmolcolors */
/*.sym { opacity: 0.8; }*/
/* Atomic radii (r) taken from https://en.wikipedia.org/wiki/Atomic_radius */
.atomH {fill: #FFFFFF;  r:7.5;}  
.atomHe {fill: #D9FFFF; r:36.0;}  
.atomLi {fill: #CC80FF; r:43.5;}  
.atomBe {fill: #C2FF00; r:31.5;}  
.atomB  {fill: #FFB5B5; r:25.5;}  
.atomC  {fill: #909090; r:21.0;}  
.atomN {fill: #3050F8;  r:19.5;}  
.atomO {fill: #FF0D0D;  r:18.0;}  
.atomF  {fill: #90E050; r:15.0;}  
.atomNe {fill: #B3E3F5; r:48.0;}  
.atomNa {fill: #AB5CF2; r:54.0;}  
.atomMg {fill: #8AFF00; r:45.0;}  
.atomAl {fill: #BFA6A6; r:37.5;}  
.atomSi {fill: #F0C8A0; r:33.0;}  
.atomP {fill: #FF8000;  r:30.0;}  
.atomS {fill: #FFC832;  r:30.0;}  
.atomCl {fill: #1FF01F; r:30.0;}  
.atomAr {fill: #80D1E3; r:21.3;}  
.atomK  {fill: #8F40D4; r:66.0;}  
.atomCa {fill: #3DFF00; r:54.0;}  
.atomSc {fill: #E6E6E6; r:48.0;}  
.atomTi {fill: #BFC2C7; r:42.0;}  
.atomV  {fill: #A6A6AB; r:40.5;}  
.atomCr {fill: #8A99C7; r:42.0;}  
.atomMn {fill: #9C7AC7; r:42.0;}  
.atomFe {fill: #E06633; r:42.0;}  
.atomCo {fill: #F090A0; r:40.5;}  
.atomNi {fill: #50D050; r:40.5;}  
.atomCu {fill: #C88033; r:40.5;}  
.atomZn {fill: #7D80B0; r:40.5;}  
.atomGa {fill: #C28F8F; r:195.0;}  
.atomGe {fill: #668F8F; r:37.5;}  
.atomAs {fill: #BD80E3; r:34.5;}  
.atomSe {fill: #FFA100; r:34.5;}  
.atomBr {fill: #A62929; r:34.5;}  
.atomKr {fill: #5CB8D1; r:26.4;}  
.atomRb {fill: #702EB0; r:70.5;}  
.atomSr {fill: #00FF00; r:60.0;}  
.atomY  {fill: #94FFFF; r:54.0;}  
.atomZr {fill: #94E0E0; r:46.5;}  
.atomNb {fill: #73C2C9; r:43.5;}  
.atomMo {fill: #54B5B5; r:43.5;}  
.atomTc {fill: #3B9E9E; r:40.5;}  
.atomRu {fill: #248F8F; r:39.0;}  
.atomRh {fill: #0A7D8C; r:40.5;}  
.atomPd {fill: #006985; r:42.0;}  
.atomAg {fill: #C0C0C0; r:48.0;}  
.atomCd {fill: #FFD98F; r:46.5;}  
.atomIn {fill: #A67573; r:46.5;}  
.atomSn {fill: #668080; r:43.5;}  
.atomSb {fill: #9E63B5; r:43.5;}  
.atomTe {fill: #D47A00; r:42.0;}  
.atomI  {fill: #940094; r:42.0;}  
.atomXe {fill: #429EB0; r:32.4;}  
.atomCs {fill: #57178F; r:78.0;}  
.atomBa {fill: #00C900; r:64.5;}  
.atomLa {fill: #70D4FF; r:58.5;}  
.atomCe {fill: #FFFFC7; r:55.5;}  
.atomPr {fill: #D9FFC7; r:55.5;}  
.atomNd {fill: #C7FFC7; r:55.5;}  
.atomPm {fill: #A3FFC7; r:55.5;}  
.atomSm {fill: #8FFFC7; r:55.5;}  
.atomEu {fill: #61FFC7; r:55.5;}  
.atomGd {fill: #45FFC7; r:54.0;}  
.atomTb {fill: #30FFC7; r:52.5;}  
.atomDy {fill: #1FFFC7; r:52.5;}  
.atomHo {fill: #00FF9C; r:52.5;}  
.atomEr {fill: #00E675; r:52.5;}  
.atomTm {fill: #00D452; r:52.5;}  
.atomYb {fill: #00BF38; r:52.5;}  
.atomLu {fill: #00AB24; r:52.5;}  
.atomHf {fill: #4DC2FF; r:46.5;}  
.atomTa {fill: #4DA6FF; r:43.5;}  
.atomW  {fill: #2194D6; r:40.5;}  
.atomRe {fill: #267DAB; r:40.5;}  
.atomOs {fill: #266696; r:39.0;}  
.atomIr {fill: #175487; r:40.5;}  
.atomPt {fill: #D0D0E0; r:40.5;}  
.atomAu {fill: #FFD123; r:40.5;}  
.atomHg {fill: #B8B8D0; r:45.0;}  
.atomTl {fill: #A6544D; r:57.0;}  
.atomPb {fill: #575961; r:54.0;}  
.atomBi {fill: #9E4FB5; r:48.0;}  
.atomPo {fill: #AB5C00; r:57.0;}  
.atomAt {fill: #754F45; r:36.0;}  
.atomRn {fill: #428296; r:36.0;}  
.atomFr {fill: #420066; r:36.0;}  
.atomRa {fill: #007D00; r:64.5;}  
.atomAc {fill: #70ABFA; r:58.5;}  
.atomTh {fill: #00BAFF; r:54.0;}  
.atomPa {fill: #00A1FF; r:54.0;}  
.atomU  {fill: #008FFF; r:52.5;}  
.atomNp {fill: #0080FF; r:52.5;}  
.atomPu {fill: #006BFF; r:52.5;}  
.atomAm {fill: #545CF2; r:52.5;}  
.atomCm {fill: #785CE3; r:52.8;}  
.atomBk {fill: #8A4FE3; r:22;}
.atomCf {fill: #A136D4; r:22;}
.atomEs {fill: #B31FD4; r:22;}
.atomFm {fill: #B31FBA; r:22;}
.atomMd {fill: #B30DA6; r:22;}
.atomNo {fill: #BD0D87; r:22;}
.atomLr {fill: #C70066; r:22;}
.atomRf {fill: #CC0059; r:22;}
.atomDb {fill: #D1004F; r:22;}
.atomSg {fill: #D90045; r:22;}
.atomBh {fill: #E00038; r:22;}
.atomHs {fill: #E6002E; r:22;}
.atomMt {fill: #EB0026; r:22;}
