.svg-task1 {
    width: 100%;
	height:700px;
    border:1px,solid,grey;
}

.svg-packmol {
    width: 100%;
	height:700px;
    border:1px,solid,grey;
}

.svg-xy {
    overflow: scroll;
    padding:10px;
    width: 100%;
	height: 600px;
	border: 1px solid black;
}

.svg-xz {
    padding: 1px;
    width: 100%;
	height: 600px;
	border: 1px solid black;
}

.svg-yz {
    padding: 1px;
    width: 100%;
	height: 600px;
	border: 1px solid black;
}

.click-circle {
	fill: red;
}

.dragged {
	fill: gray;
	stroke: 3px solid black;
}

.red {
background-color: red;
}

.intro {
    background-color: #eee;
    padding:10px;
    border-radius:20px;
    color: grey;
    filter: drop-shadow(0 6px 4px #adf);
}
