.svg {
    width: 100%;
	height: 200px;
	border: 1px solid grey;
}

.svg_main {
    width: 100%;
	height: 200px;
	border: 1px solid blue;
}

.click-circle {
	fill: red;
}

.dragged {
	fill: gray;
	stroke: 3px solid black;
}

.red {
background-color: red;
}
