{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{{chebi_id}}{% endblock %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="/static/css/style.css">
<link rel="stylesheet" type="text/css" href="/static/css/atomcolors.css">
<script src="https://d3js.org/d3.v5.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/spacegroups.js"></script>
<script type="text/javascript" src="/static/js/csdmol.js"></script>
{% endblock %}

{% block body_base %}
<div class="container">
    <div class="container">
        <div id="right_answer" class="hidden">{{group}}</div>
        <div class="row">
            <div class="col-md-10">
                <h1>Find the right molecular packing (CSDMOL)</h1>
                <h1>{{csd_id}}</h1>
                    <a href="{%url 'csdmol'%}"><button class="btn btn-danger btn-lg"><i class="fa fa-flask"></i> new</button></a>
                    <button id="plus_x" class="btn btn-info btn-lg">+x</button>
                    <button id="minus_x" class="btn btn-info btn-lg">-x</button>
                    <button id="plus_y" class="btn btn-info btn-lg">+y</button>
                    <button id="minus_y" class="btn btn-info btn-lg">-y</button>
                    <button id="rotate-left" class="btn btn-info btn-lg"><i class="fa fa-rotate-left"></i> left</button>
                    <button id="rotate-right" class="btn btn-info btn-lg"><i class="fa fa-rotate-right"></i> right</button>
                </p>
            </div>
            <div class="col-md-2" style="margin-top:20px;">
                <button id="what_answer" class="btn btn-info">Plane group?</button>
                <button id="submit" class="btn btn-warning">Submit</button>
                <div id="click_result"><b>{{group}}</b></div>
                <div id="submit_answer"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="btn-group">
                 <button class="btn btn-info click_answer" type="button" id="{{space_group}}"><h4><a href="">{{space_group}}</a></h4></button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12"><svg class="svg"></svg></div>
            <h3><a href="https://www.ebi.ac.uk/chebi/searchId.do?chebiId={{chebi_id}}" target="blank">{{chebi_id}}</a></h3>
        </div>
    </div>
</div>

<script>
let csd_id= "{{csd_id}}";
let mol = {{molecule|safe}};
let space_group = mol['sg'];
let cell = mol['uc'];
let a = cell[0], b = cell[1], c = cell[2], alphar = d2r(cell[3]), betar = d2r(cell[4]), gammar =  d2r(cell[5]);
console.log(mol);

var svg = d3.select('.svg');

mol.coords = mol.mol.map(a=> [a[0]*scaleFactor, a[1]*scaleFactor,a[2]*scaleFactor, a[3]]);
console.log(mol.coords);
mol.com = center_of_mass(mol); //calculate the center of mass of initial molecule
let com_init = center_of_mass(mol); //calculate the center of mass of initial molecule

//draw_cell();
//draw_random_circles();
draw_cell();
draw_molecule(mol);
move_here();
</script>

<script>
$(document).ready(function() {
       $(".click_answer").click(function(event){
            var answer = $(this).attr('id');
            change_pg(answer);
            var right_answer = $('#right_answer').text();
            return false; //This does not reload the page
       });
       $("#submit").click(function(event){
            $.ajax({
                 type:"POST",
                 url:"/packmol/",
                 data: {
                        'mol': mol.coords.toString(),
                        'cell': '['+ a +','+b+','+gamma+']',
                        'chebi_id': chebi_id,
                        'group': space_group,
                        },
                 success: function(){
                     $('#submit_answer').html("<h2>Success!</h2>") 
                 }  
            });
            return false; //This does not reload the page
       });
});
function what_is_the_answer(event) {
                var right_answer = $('#right_answer').text();
                $('#click_result').html("<h2 style='color:green'>"+space_group+"</h2>");
                };
$("#what_answer").click(what_is_the_answer);
$("#plus_x").click(plus_x);
$("#minus_x").click(minus_x);
$("#plus_y").click(plus_y);
$("#minus_y").click(minus_y);
$("#draw_sym_mates").click(()=> draw_sym_mates());
</script>

{% endblock %}
